* {
  margin: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
a {
  text-decoration: none;
}

button {
  color: white;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid rgb(219, 219, 219);
  padding: 15px;
}
input {
  padding: 15px;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 5px;
}
.container {
  width: 100%;
  /* background-color: blue; */
  height: 100vh;
}
.container1 {
  padding: 10px;
}
.container2 {
  width: 300px;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}
.head h1 {
  font-size: bolder;
  display: flex;
  justify-content: center;
}
.input_container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.btn-login {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.btn-login a {
  display: flex;
  justify-content: center;
  color: #4071f4;
}
.btn-login p {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.btn-login p span {
  display: flex;
  gap: 10px;
  color: blue;
}
.btn-login p span:hover {
  text-decoration: underline;
}
.btn-login button {
  background-color: hsl(208.29, 99.06%, 41.57%);
}
.btn-login2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.line_ctn {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}
.line_ctn .line {
  display: flex;
  flex: 1;
  align-items: center;
  height: 1px;
  background-color: #dfdfdf;
}
.btn-login2 p {
  display: flex;
  justify-content: center;
}
.btn-login2 button {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.btn-login2 .btn1 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 5px;
  background-color: hsl(219.82, 46.5%, 47.65%);
}
.btn-login2 .btn2 {
  background-color: rgb(255, 255, 255);
  display: flex;
  color: rgb(219, 219, 219);
  align-items: center;
  justify-content: space-evenly;
  gap: 5px;
}
/* .universe button {
  margin-top: 10px;
  cursor: pointer;
  padding: 10px;
  border-radius: 20px;
  background-color: hsl(0, 0%, 16.86%);
  border: 3px solid hsl(173.4, 95.98%, 60.98%);
  color: hsl(173.4, 95.98%, 60.98%);
}
button:hover {
  box-shadow: 0 5px 50px 0px hsl(173.4, 95.98%, 60.98%),
    0 5px 50px 0px hsl(173.4, 95.98%, 60.98%);
} */
